<div class="container">
  <h1>Historical Time Traveller</h1>
  <p>Tap any image for a larger view.</p>
  <div class="clearfix">
    <% @placemarks.each do |placemark| %>
      <a href="<%= placemark.getFullURL %>">
        <img src="<%= placemark.getThumbURL %>"/>
      </a>
    <% end %>
  </div>
  <div class="footer clearfix">
    <%= image_tag 'NYPL_logo1_white_rev.jpg', :id=>"logo" %>
    <p>Project created at the NYPL Historial Geolocation Hackathon by Jeff Larson, Mike Tigas, Sisi Wei and Ashley Williams.</p>
  </div>
</div>