<div id="wrap">

  <div id="main" class="clearfix">
    <h1>Historical Time Traveller</h1>
    <h2>Tap any image for a larger view.</h2>
    <div id='slider' class='swipe'>
      <div class="clearfix swipe-wrap">
        <% @placemarks.each do |placemark| %>
          <div>
            <a href="<%= placemark.getFullURL %>">
              <img src="<%= placemark.getFullURL %>"/>
            </a>
          </div>
        <% end %>
      </div>
  </div>

</div>

<div id="footer" class="clearfix">
  <div>
      <ul id="position">
        <% @placemarks.each do |placemark| %>
        <li></li>
        <% end %>
      </ul>
  </div>
  <%= image_tag 'NYPL_logo1_white_rev.jpg', :id=>"logo" %>
  <p>Project created at the NYPL Historial Geolocation Hackathon by <a href="https://twitter.com/thejefflarson">Jeff Larson</a>, <a href="https://twitter.com/mtigas">Mike Tigas</a>, <a href="https://twitter.com/sisiwei">Sisi Wei</a> and <a href="https://twitter.com/ag_dubs">Ashley Williams</a>. Huge thanks to <a href="https://github.com/danvk">Dan Vanderkam</a>'s <a href="https://github.com/danvk/sfhistory/blob/master/viewer/nyc-lat-lons.js">geocoding work</a> on all of these images.</p>
</div>

<script>
window.mySwipe = new Swipe(document.getElementById('slider'), {
  //startSlide: 2,
  //speed: 400,
  //auto: 3000,
  continuous: true,
  disableScroll: true,
  stopPropagation: false,
  callback: function(pos) {

      var i = bullets.length;
      while (i--) {
        bullets[i].className = ' ';
      }
      bullets[pos].className = 'on';

    },
  transitionEnd: function(index, elem) {}
});
var bullets = document.getElementById('position').getElementsByTagName('li');
</script>
