/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.homepage {
	width: 90%;
	margin: 0 auto;
}

.homepage .main-text {
	position: absolute;
	top: 180px;
	left: 3%;
	background-color: black;
	padding: 10px 5px 20px;
	color: white;
	width: 586px;
}

@media (max-width: 1000px) {
  .homepage .main-text {
  	width: 60%;
  }
}

.homepage .main-text p {
	font-style: normal;
}

.homepage .main-text p a {
	color: white;
}

.homepage h1 {
	font-family: 'Copse', serif;
	background-color: transparent;
	color: white;
	font-size: 50px;
	line-height: 46px;
}

.homepage p {
	margin: 10px 0 0 0;
}

#masonjar {
	background-color: black;
}

#masonjar img {
	width: 380px;
	opacity: 0.4;
	filter: alpha(opacity=40);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	padding: 20px;
}

.connect-button {
	width: 200px;
	color: white;
	margin: 20px 20px 20px 10px;
	text-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0;
	cursor: pointer;
	display: block;
	font: bold 11px/30px "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 30px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	background: #a0da00;
	background: -moz-linear-gradient(top, #a7e300, #99d100);
	background: -o-linear-gradient(top, #a7e300, #99d100);
	background: -webkit-linear-gradient(top, #a7e300, #99d100);
	border: 1px solid #87b800;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
}