html {
  background: black;
  font-family: verdana, arial, helvetica, sans-serif;
}

h2 {
  font-size: 100%;
  line-height: 1.3em;
  padding: 0px 10px 10px;
  color: #ddd;
  font-weight: 300;
  font-style: italic;
}

#footer a { color:#666; }

img {
  width: 100%;
  float: left;
}
p {
  padding: 0px 10px 10px;
  color: #ddd;
  font-style: italic;
}
h1 {
  font-family: 'Copse', sans-serif;
  padding: 10px 10px 4px 10px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#logo {
  float: right;
  padding: 6px 10px 10px;
  width: 30%;
}
.caption {
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 450px;
  right: 0;
  padding: 10px;
  text-align: right;
  padding-right: 30px;
}


#footer p {
  padding: 10px;
  width: 63%;
  position: relative;
  font-size: 75%;
  line-height: 1.3em;
}
/* sticky feet */
html, body, #wrap { height: 100%; }

body > #wrap { height: auto; min-height: 100%;}

#main { 
  padding-bottom: 150px;
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  /*width: 100%;*/
}  /* must be same height as the footer */

#footer { 
  position: fixed;
  bottom:0;
  background: black;
  clear:both;
}
/* swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#position {
  text-align: center;
  list-style: none;
}

#position li.on {
  box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);
  background-color:#1293dc;
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));
  background-image:-webkit-linear-gradient(top,#1293dc,#0f6297);
  background-image:-moz-linear-gradient(top,#1293dc,#0f6297);
  background-image:-ms-linear-gradient(top,#1293dc,#0f6297);
  background-image:-o-linear-gradient(top,#1293dc,#0f6297);
  background-image:linear-gradient(top,#1293dc,#0f6297)
}
#position li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
  margin: 0 2px;
  cursor: pointer;
}
/* reset */
* {
  padding: 0;
  margin: 0;
}
/* CLEAR FIX*/
.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */