<div class="homepage">
	<div id="masonjar" class="background">
		<img class="box" src="http://images.nypl.org/index.php?id=712651f&t=w"/>
		<img class="box" src="http://images.nypl.org/index.php?id=708681f&t=w"/>
		<img class="box" src="http://images.nypl.org/index.php?id=726164f&t=w"/>
		<img class="box" src="http://images.nypl.org/index.php?id=726162f&t=w"/>
		<img class="box" src="http://images.nypl.org/index.php?id=708602f&t=w">
		<img class="box" src="http://images.nypl.org/index.php?id=708606f&t=w">
		<img class="box" src="http://images.nypl.org/index.php?id=708607f&t=w">
		<img class="box" src="http://images.nypl.org/index.php?id=708599f&t=w">
	</div>
	<div class="main-text">
		<h1>NYPL Time Traveller</h1>
		<p>The goal of the <a href="http://digitalgallery.nypl.org/nypldigital/explore/dgexplore.cfm?col_id=219">Photographic Views of New York City</a> collection was "to document the changing face of New York City, with a particular emphasis on new building construction, and on the structures torn down and replaced."</p>

		<p>See the history for yourself by connecting to our app.</p>
		<div class="connect-button"><span>Connect to Foursquare</span></div>
	</div>
</div>