<div class="homepage">
	<div id="masonjar" class="background">
		<img class="box" src="http://images.nypl.org/index.php?id=712651f&t=w"/>
		<img class="box" src="http://images.nypl.org/index.php?id=708681f&t=w"/>
		<img class="box" src="http://images.nypl.org/index.php?id=726164f&t=w"/>
		<img class="box" src="http://images.nypl.org/index.php?id=726162f&t=w"/>
	</div>
	<div>
		<h1>NYPL Time Traveller</h1>
	</div>
</div>